<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <%- title %>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"></link>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <style type="text/css">
            #react-root {
                margin: 20px auto 0 auto;
                width: 700px;
            }
            <%- css %>
        </style>
        <% if(isComputerTurn && gameHash) { %>
        <meta id="computerturn" http-equiv="refresh" content="1; url=/api/games/computer-play/<%= gameHash %>?redirect=1" />
        <% } %>
        <script>
            var el = document.getElementById('computerturn');
            el && el.remove();
        </script>
    </head>
    <body>
        <div id="react-root"><%- app %></div>
        <script>
          window.__INITIAL_STATE__ = <%- JSON.stringify(state) %>
        </script>
        <script src="/public/build/bundle.js"></script>
    </body>
</html>
